doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/style.css')
    script(src='javascripts/angular.min.js')
    script(src-'javascripts/adduser.js')
  body
    h1.
      Form List
    ul
      each jobList, i in formcollection
        each job, i in jobList
          p empty object in jobList
        //
          li
            p= job.name
          li
            p= job.requireNumber 
          li
            p= job.description
          hr
        
