doctype html
html(ng-app="signup")
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.min.js')
    script(src='javascripts/newform.js')
  body
    h1 Welcome
    h3 Create a form!
    a(href='/newform') New Form
