doctype html
html(ng-app="signup")
  head
    title Add Job
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.min.js')
    script(src='javascripts/newform.js')
  body(ng-controller="formController")
    h1= title 
    form(name="addform", method="post", action="/addform")
      button#btnSubmit(type="submit") Add Form
    form#formAddJob(ng-submit="addJob(form)"  name="addjob()")
      input#inputJobName(ng-model="newJob.name" type="text" placeholder="Job Name" required)
      input#inputNumber(ng-model="newJob.numRequired" type="number"  placeholder="Max Volunteers" required)
      input#inputDescription(ng-model="newJob.description" type="text"  placeholder="Job Description" required)
      button#btnSubmit(type="submit") Add Job
  
    div(ng-repeat="job in jobs")
      p Job Name: {{job.name}}
      p Number Needed: {{job.numRequired}}
      p Description: {{job.description}}
